.container {
  position: relative;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    .input {
      height: 30%;
      border-radius: 30px;
      width: 15vw;
      text-align: center;
      line-height: 120px;
      font-size: 30px;
      caret-color: var(--main_color);
      transition: width 0.5s ease-out;

      &:focus,
      &:focus-visible {
        width: 30vw;
      }
    }
  }
}
